@import "tailwindcss";

@theme {
  /* Pink red / Primary */
  --color-primary-50: #fff0f2;
  --color-primary-100: #ffdede;
  --color-primary-200: #ffc1ca;
  --color-primary-300: #ff95a5;
  --color-primary-400: #ff5972;
  --color-primary-500: #ff2647;
  --color-primary-600: #fc062b;
  --color-primary-700: #e60023; /* brand */
  --color-primary-800: #af051f;
  --color-primary-900: #900c20;
  --color-primary-950: #58000c;
}
